body {
    margin: 0;
    padding: 0;
    background: url("./icon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quintessential', cursive;
    font-size: 18px;
    cursor: default;
}

#content {
    width: 800px;
    height: 500px;
    background-color: snow;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: solid 10px #f8df83;
    position: relative;
}

.heading {
    margin: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    background-image: url("./gold1.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Cinzel Decorative', cursive;
}

.text {
    margin-left: 20px;
    margin-right: 20px;
}

button,
button:hover {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #d6af62;
}

.tab-1,
.tab-2 {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.tab-3,
.tab-4 {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.display-none {
    display: none;
}