body {
	background: linear-gradient(135deg, #f3d9be 0%, #f3bebe 33%, #d9bef3 66%, #bebef3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
}

form {
  margin: auto;
  margin-top: 50px;
  width: 30%;
}

.submit {
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
  margin-left: auto;
  padding: 5px 10px;
}

.error {
  font-size: 12px;
  color: blueviolet;
}

input {
  outline: none;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.mt-10 { margin-top: 10px; }
.mt-25 { margin-top: 25px; }
.mb-10 { margin-bottom: 10px; }
.my-10 { margin: 0 10px 0 10px; }