body {
  font-family: 'Signika Negative', sans-serif;
  background-image: url("./assets/bg.jpg");
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color:  #ffc107;
}

.custom-shadow {
  box-shadow: -2px 2px 0 black;
}

.custom-shadow:hover {
  box-shadow: -1px 1px 0 black;
}

.product-count {
  top:-10px;
  right: -10px;
  font-size: 12px;
  padding-right: 5px;
  padding-left: 5px;
}

.width-20 {
  width: 20px;
}
